{{template "head"}}
<title>控制台</title>
</head>
<body>

<!--<form class="admin-form" method="get">-->
	<form class="container-fluid display-table">
		<div class="row display-table-row">
			
			{{template "sideMenu" .}}
			{{template "navbar" .}}
			<!--main content area-->
		
			{{template "footer" .}}
		
		</div>
	</form>
<!--</form>-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/admin/default.js"></script>
</body>
</html>