{{template "head"}}
</head>
<body>
<div class="container-fluid display-table">
	<div class="row display-table-row">
		{{template "sideMenu"}}
		{{template "navbar"}}
		<!--main content area-->
		
		
		<div class="row">
			<footer id="admin-footer" class="clearfix">
				<div class="pull-left"><b>Copyright </b> &copy; Haixiao 2017</div>
				<div class="pull-right">后台管理</div>
			</footer>
		</div>
	</div>
	</div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/admin/default.js"></script>
</body>
</html>