{{template "head"}}

<title>Articles</title>
<link rel="stylesheet" href="../../static/css/admin/default.css">
<link rel="stylesheet" href="../../static/css/admin/articles.css">

</head>
<body>
<form class="container-fluid display-table" style="width: 100%">
	<div class="row display-table-row">
		{{template "sideMenu" .}}
		
			
			<!--main content area-->
			
			<div id="content">
				<header class="clearfix">
					<h2 class="page-title pull-left">所有文章</h2>
					<button type="button" class="btn btn-xs btn-primary pull-right">Create new article</button>
				</header>
				
				<div class="content-inner">
					<div class="row search-row">
						<div class="col-md-12">
							<div class="input-group">
								<input type="text" class="form-control search-field" id="search" placeholder="搜索文章">
								<span class="input-group-btn">
								<button type="button" class="btn btn-primary">搜索!</button>
							</span>
							</div>
						</div>
					</div>
					
					{{range .Articles }}
					<div class="row article-row">
						
						<div class="col-md-1 col-sm-1 col-xs-2 status-padding">
							{{if eq .Tag "Go"}}
							<span class="label label-success label-sm">{{ .Tag}}</span>
							{{else if eq .Tag "Swift"}}
							<span class="label label-warning label-sm">{{ .Tag}}</span>
							{{else if eq .Tag "ObjC"}}
							<span class="label label-info label-sm">{{ .Tag}}</span>
							{{else if eq .Tag "Other"}}
							<span class="label label-danger label-sm">{{ .Tag}}</span>
							{{end}}
						</div>
						<div class="col-md-8 col-sm-6 col-xs-10 article-title">
							<h4>{{ .Title }}</h4>
							<p>{{ .Content }}</p>
							<small>{{ .Created }}</small>
						</div>
						<div class="col-md-3 col-sm-5 col-xs-10 col-xs-offset-2 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
							<div class="active-actions">
								<a class="btn btn-xs btn-default" href="#" role="button">
									<span class="glyphicon glyphicon-folder-open" aria-hidden="true">&nbsp;查看</span>
								</a>
								
								<a class="btn btn-xs btn-default" href="#" role="button">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;编辑</span>
								</a>
								
								<a class="btn btn-xs btn-default" href="#" role="button">
									<span class="glyphicon glyphicon-remove" aria-hidden="true">删除</span>
								</a>
							
							</div>
						</div>
						
					</div>
					
					{{end}}
					
					<hr>
					<div class="row" >
						<div class="col-md-12">
							<nav>
								<ul class="pagination">
									<li><a href="#">&laquo;</a></li>
									<li><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</nav>
							
						</div>
						
					</div>
					
					{{template "footer" .}}
				</div>
				
				
			</div>
		</div>
	</div>
</form>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/chosen.jquery.min.js"></script>
</body>
</html>