{{template "head"}}
<link rel="stylesheet" href="../../static/css/admin/create-article.css">
<link rel="stylesheet" href="../../static/css/chosen.min.css">
<link rel="stylesheet" href="../../static/css/bootstrap-markdown.min.css">
</head>
<body>
<div class="container-fluid display-table">
	<div class="row display-table-row">
		{{template "sideMenu" .}}
		
		<!--main content area-->
		
		<form id="content">
			<header>
				<h2 class="page-title">创建文章</h2>
			</header>
			<form class="content-inner">
				<div class="form-wrapper">
					<form>
						<!--<div class="form-group">-->
							<!--<label class="sr-only">标题</label>-->
							<!--<input type="text" class="form-control" name="articleTitle" placeholder="title">-->
						<!--</div>-->
					</form>
					
					<form method="post">
						<div class="form-group">
							<label class="sr-only">标题</label>
							<input type="text" class="form-control" name="articleTitle" placeholder="标题">
						</div>
						<div class="form-group">
							<label class="sr-only">标签</label>
							<select data-placeholder="选择标签" name="tags" class="form-control chosen-select">
								<option value="Go">Go</option>
								<option value="Swift">Swift</option>
								<option value="ObjC">ObjC</option>
								<option value="Other">Other</option>
							</select>
						</div>
						
						<div class="form-group">
							<label class="sr-only">内容</label>
							<textarea class="form-control" placeholder="文章内容" name="content" data-provide="markdown"
							          rows="10"></textarea>
						</div>
						
						<div class="checkbox">
							<label>
								<input type="checkbox">公开
							</label>
						</div>
						
						<div class="clearfix">
							<button type="submit" class="btn btn-primary pull-right">保存 / 发布</button>
						</div>
					
					</form>
				</div>
			</form>
		</form>
	
	</div>
	
	{{template "footer" .}}
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/chosen.jquery.min.js"></script>
<script src="../../static/js/bootstrap-markdown.js"></script>

<script type="text/javascript">
	var config = {
	    '.chosen-select' :{},
		'.chosen-select-deselect' :{allow_allow_deselect:true},
		'.chosen-select-no-single' :{disable_search_threshold:10},
		'.chosen-select-no-result' :{no_result_text:'Oops, nothing found!'},
        '.chosen-select-width' :{width:"95%"}
	}
	for (var selector in config) {
	    $(selector).chosen(config[selector]);
	}
</script>


</body>
</html>
