{{template "head"}}
<link rel="stylesheet" href="../../static/css/chosen.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/css/editor.css">
<link rel="stylesheet" href="../../static/css/admin/create-article.css">


</head>
<body>
<form method="post" class="container-fluid display-table">
	<div class="row display-table-row">
		{{template "sideMenu" .}}
		<div class="col-md-10 col-sm-11 display-table-cell valign-top">
			<div class="row">
				<header id="nav-header">
					<div class="col-md-5">
						<nav class="navbar-default pull-left">
							<button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas"
							        data-target="#side-menu" aria-expanded="false">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</nav>
						<input class="hidden-sm hidden-xs" id="header-search-field" type="text" placeholder="搜索文章">
					</div>
					<div class="col-md-7">
						<ul class="pull-right">
							<li class="hidden-xs" id="welcome">欢迎来到管理后台</li>
							
							<li class="fixd-width">
								<a href="#">
									<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
									<span class="label label-warning">3</span>
								</a>
							</li>
							
							<li class="fixd-width">
								<a href="#">
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
									<span class="label label-message">3</span>
								</a>
							</li>
							
							<li>
								<a href="/login" class="logout">
									<button type="submit" class="btn btn-danger glyphicon glyphicon-log-out"
									        aria-hidden="true">登出
									</button>
								</a>
							</li>
						</ul>
					</div>
				</header>
			</div>
			<!--main content area-->
			
			<div id="content">
				<header>
					<h2 class="page-title">创建文章</h2>
				</header>
				<div class="content-inner">
					<div class="form-wrapper">
						<form>
							<div class="form-group">
								<label class="sr-only">标题</label>
								<input type="text" class="form-control" id="title" placeholder="标题">
							</div>
						</form>
						
						<form>
							<div class="form-group">
								<label class="sr-only">标签</label>
								<select data-placeholder="选择标签" multiple name="tags" class="form-control chosen-select">
									{{range .Tag}}
									<option>{{.Title}}</option>
									{{end}}
								</select>
							</div>
						</form>
						
						<form>
							<div class="form-group">
								<label class="sr-only">内容</label>
								<textarea class="form-control" placeholder="文章内容" name="article"
								          id="textedit"></textarea>
							</div>
							
							<div class="checkbox">
								<label>
									<input type="checkbox">公开
								</label>
							</div>
							
							<div class="clearfix">
								<button type="submit" class="btn btn-primary pull-right">保存 / 发布</button>
							</div>
						
						</form>
					</div>
				</div>
				<div class="row">
					<footer id="admin-footer" class="clearfix">
						<div class="pull-left"><b>Copyright </b> &copy; Haixiao 2017</div>
						<div class="pull-right">后台管理</div>
					</footer>
				</div>
			</div>
		</div>
	</div>
</form>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/chosen.jquery.min.js"></script>

<script type="text/javascript">
    var config = {
        '.chosen-select' :{},
        '.chosen-select-deselect' :{allow_allow_deselect:true},
        '.chosen-select-no-single' :{disable_search_threshold:10},
        '.chosen-select-no-result' :{no_result_text:'Oops, nothing found!'},
        '.chosen-select-width' :{width:"95%"}
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
<script src="../../static/js/editor.js"></script>

<script>
	$('#textedit').Editor();
</script>

</body>
</html>